@model SupplierListVM

<div class="card mb-4 mt-2">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        Supplier List

        <a class="btn btn-primary" asp-controller="Suppliers" asp-action="Add">Add Supplier</a>

    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="productsTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Company Name</th>
                        <th>Adress</th>
                        <th>Products</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Company Name</th>
                        <th>Adress</th>
                        <th>Products</th>
                        <th>Options</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (SupplierVM svm in Model.Result.Data)
                    {

                        <tr>
                            <td>@svm.CompanyName</td>
                            <td>@svm.Address</td>
                            <td>
                                <ul>
                                    @foreach (ProductSupplierVM psvm in svm.ProductSupplierVMs)
                                    {
                                        <li>@psvm.ProductVM.Name</li>
                                    }
                                </ul>
                            </td>

                            <td>
                                <a class="btn btn-warning" asp-controller="Suppliers" asp-action="Update" asp-route-id="@svm.Id">Update</a>
                                <a class="btn btn-danger" asp-controller="Suppliers" asp-action="Remove" asp-route-id="@svm.Id">Delete</a>

                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        $(document).ready(function () {
            $('#productsTable').DataTable();
        })
    </script>
}
