@model SupplierListVM

<div class="text-center">
    <h1 class="display-4">Supplier List</h1>

</div>
<div>
    <a class="btn btn-primary" asp-controller="Suppliers" asp-action="Add">Add Supplier</a>

</div>

<table class="table table-responsive tabletable-hover" id="productsTable">
    <thead style="font-weight:bold;font-size:larger">
        <tr>
            <td>Company Name</td>
            <td>Adress</td>
            <td>Products</td>
            <td>Options</td>

        </tr>
    </thead>
    <tbody>
        @foreach (SupplierVM svm in Model.Result.Data)
        {

            <tr>
                <td>@svm.CompanyName</td>
                <td>@svm.Address</td>
                <td>
                    <ul>
                        @foreach (ProductSupplierVM psvm in svm.ProductSupplierVMs)
                        {
                            <li>@psvm.ProductVM.Name</li>
                        }
                    </ul>
                </td>

                <td>
                    <a class="btn btn-warning" asp-controller="Suppliers" asp-action="Update" asp-route-id="@svm.Id">Update</a>
                    <a class="btn btn-danger" asp-controller="Suppliers" asp-action="Remove" asp-route-id="@svm.Id">Delete</a>

                </td>

            </tr>
        }

    </tbody>

</table>


