@model LoginVM

<div class="row">

    <form asp-action="Index" method="post" asp-controller="Home">

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="@Model.Email"></label>
                    <input asp-for="@Model.Email" class="form-control" />
                    <span asp-validation-for="@Model.Email" class="text-danger"></span>
                </div>
                <br />
            </div>

        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="@Model.Password"></label>
                    <input asp-for="@Model.Password" class="form-control" />
                    <span asp-validation-for="@Model.Password" class="text-danger"></span>
                </div>
                <br />
            </div>

        </div>

        <div class="form-group">

            <input type="submit" value="Login" class="btn-primary" />

        </div>
    </form>
</div>