@model ProductSaveVM

<h1>Update Product</h1>

<div class="row">

    <div class=col-md-6>

        <form asp-action="Update" method="post" asp-controller="Home">

            <input type="hidden" asp-for="ID" value="@Model.ID"/>

            <div class="form-group">
                <label asp-for="@Model.Name"></label>
                <input asp-for="@Model.Name" value="@Model.Name" class="form-control"/>
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>

            <br/>
            <div class="form-group">
                <label asp-for="@Model.Stock"></label>
                <input asp-for="@Model.Stock" class="form-control"/>
                <span asp-validation-for="@Model.Stock" class="text-danger"></span>
            </div>
            <br/>

            <div class="form-group">
                <label asp-for="@Model.Price"></label>
                <input asp-for="@Model.Price" class="form-control"/>
                <span asp-validation-for="@Model.Price" class="text-danger"></span>
            </div>
            <br/>

            <br/>

            <div class="form-group">

                <input type="submit" value="Update Product" class="btn-primary"/>

            </div>
        </form>



    </div>


</div>
