@model ProductListVM

<div class="text-center">
      @await Component.InvokeAsync("LastProduct",new{ count=1})
</div>



<div class="card mb-4 mt-2">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        Product List 

       <a class="btn btn-primary " asp-controller="Products" asp-action="Add">Add Product</a>

    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="productsTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Product Details</th>
                        <th>Suppliers</th>
                        <th>Category</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Product Name</th>
                        <th>Product Details</th>
                        <th>Suppliers</th>
                        <th>Category</th>
                        <th>Options</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (ProductVM item in Model.Result.Data)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>
                                <ul>
                                    @if (item.ProductFeatureVM != null)
                                    {
                                        <li>Made In : @item.ProductFeatureVM.MadeIn</li>
                                        <li> Release Date : @item.ProductFeatureVM.RealeseDate</li>
                                    }
                                    else
                                    {
                                        <li>No Product Feature</li>
                                    }
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    @if (item.ProductSupplierVMs != null && item.ProductSupplierVMs.Count() > 0)
                                    {
                                        @foreach (ProductSupplierVM productSupplier in item.ProductSupplierVMs)
                                        {
                                            <li>@productSupplier.SupplierVM.CompanyName,@productSupplier.Stock,@productSupplier.Price </li>
                                        }
                                    }
                                    else
                                    {
                                        <li style="color:red">No Supplier for this product</li>
                                    }

                                </ul>
                            <td>@item.CategoryVM.CategoryName</td>
                            <td>
                                <div class="row">
                                    <div class="col-md-6">
                                        <a class="btn btn-warning" asp-controller="Products" asp-action="Update" asp-route-id="@item.Id">Update</a>
                                    </div>
                                    <div class="col-md-6">
                                        <a class="btn btn-danger" asp-controller="Products" asp-action="Remove" asp-route-id="@item.Id">Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        $(document).ready(function () {
            $('#productsTable').DataTable();
        })
    </script>
}