@model ProductSaveVM

<div class="row">
    <div class="col-lg-12">
        <div class="card shadow-lg border-0 rounded-lg mt-5">
            <div class="card-header"><h3 class="text-center font-weight-light my-4"><span class=""></span> Update Product</h3></div>
            <div class="card-body">
                <form asp-action="Update" method="post" asp-controller="Products">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="@Model.Name"></label>
                                <input asp-for="@Model.Name" class="form-control" />
                                <span asp-validation-for="@Model.Name" class="text-danger"></span>


                                <div class="form-group">
                                    <label asp-for="@Model.CategoryId"></label>

                                    <select asp-for="@Model.CategoryId" asp-items="@(new SelectList(Model.CategoryVMs, nameof(CategoryVM.Id), nameof(CategoryVM.CategoryName)))" class="form-control"></select>

                                </div>

                                <h4>Product Features</h4>

                                <div class="form-group">
                                    <label asp-for="@Model.ProductFeatureSaveVM.MadeIn"></label>
                                    <input asp-for="@Model.ProductFeatureSaveVM.MadeIn" class="form-control" />
                                    <span asp-validation-for="@Model.ProductFeatureSaveVM.MadeIn" class="text-danger"></span>
                                </div>


                                <div class="form-group">
                                    <label asp-for="@Model.ProductFeatureSaveVM.RealeseDate"></label>
                                    <input type="date" asp-for="@Model.ProductFeatureSaveVM.RealeseDate" />
                                    <span asp-validation-for="@Model.ProductFeatureSaveVM.RealeseDate" class="text-danger"></span>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <h4>Supplier(s) For This Product</h4>
                                <table class="table table-bordered table-responsive">
                                    <thead>
                                        <tr>
                                            <th>Supplier Name</th>
                                            <th>Price</th>
                                            <th>Stock</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int i = 0; i < Model.AllProductSupplierVMs.Count(); i++)
                                        {
                                            <input type="hidden" asp-for="@Model.AllProductSupplierVMs[i].SupplierId" value="@Model.AllProductSupplierVMs[i].SupplierId" />
                                        
                                            <tr>
                                                <td>
                                                    @if(@Model.AllProductSupplierVMs[i].isSelected==true){

                                                        <input type="checkbox" onchange="CheckIt()" asp-for="@Model.AllProductSupplierVMs[i].isSelected" checked />
                                                    }else{
                                                        <input type="checkbox" onchange="CheckIt()" asp-for="@Model.AllProductSupplierVMs[i].isSelected" />
                                                    }
                                                    <label asp-for="@Model.AllProductSupplierVMs[i].isSelected">@Model.AllProductSupplierVMs[i].SupplierVM.CompanyName</label>
                                                </td>
                                                <td>
                                                    <input type="number" asp-for="@Model.AllProductSupplierVMs[i].Price" />
                                                </td>
                                                <td>
                                                    <input type="number" asp-for="@Model.AllProductSupplierVMs[i].Stock" />
                                                </td>


                                            </tr>
                                        }

                                    </tbody>
                                </table>


                            </div>
                        </div>
                    </div>



                    <div class="form-group justify-content-end">
                        <input class="btn btn-success  text-white" type="submit" value="Update Product" s />

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(function CheckIt() {
            //if checkbox is checked disable inputs in row except checkbox
            //else enable inputs in row
            $('input[type="checkbox"]').on('change', function () {
                if (!$(this).is(':checked')) {
                    $(this).closest('tr').find('input[type=number]').prop('disabled', true).val('0');
                } else {
                    $(this).closest('tr').find('input[type=number]').prop('disabled', false).val('0');
                }
            });


        })


    </script>
}  
